/*archivo de estilo de la pagina de halloween*/
body {background-color: black;
}
#wrapper {position:relative;
background-image: url("../imagenes/background3.jpg");
background-repeat:no-repeat;
width:1200px;
height:675px;
margin:auto;
}
@font-face {
    font-family: youMurderer;
    src: url("../fuentes/youmurderer.ttf");
}
h1 {position:absolute;
font-family: 'Creepster', cursive;
top:-10px;
left:40px;
font-size:2.5em;
color:rgb(223, 0, 0);
text-shadow:black 2px, 2px,
black -2px -2px,
black 2px -2px,
black -2px 2px;
}
#p1 {position:relative;
top:40px;
left:600px;
font-size:2em;
color:rgb(187, 25, 25);
font-family: youMurderer;
}
#ventana1 {position:absolute;
top:400px;
left:90px;
border:2px transparent white;
width:180px;
height:140px;
cursor:pointer;
}
#ventana2 {position:absolute;
top:400px;
left:350px;
border:2px transparent white;
width:180px;
height:140px;
cursor:pointer;
}
#ventana3 {position:absolute;
top:300px;
left:500px;
border:2px transparent white;
width:180px;
height:140px;
cursor:pointer;
}
#ventana4 {position:absolute;
top:400px;
left:700px;
border:2px transparent white;
width:180px;
height:140px;
cursor:pointer;
}
#ventana5 {position:absolute;
top:400px;
left:900px;
border:2px transparent white;
width:180px;
height:140px;
cursor:pointer;
}
#p2 {position:absolute;
top:100px;
left:700px;
color:rgb(187, 25, 25);
font-size:2em;
font-family: youMurderer;
}
#ghost {position:absolute;
top:250px;
left:450px;
visibility:hidden;
cursor:crosshair;
}
#skeleton1 {position:absolute;
top:420px;
left:0px;
width:360px;
height:280px;
visibility:hidden;
cursor:crosshair;
}
#skeleton2 {position:absolute;
top:420px;
left:800px;
width:360px;
height:280px;
visibility:hidden;
cursor:crosshair;
}
#p3 {position:absolute;
top:100px;
left:50px;
color:rgb(241, 18, 18);
font-size:2em;
font-family: youMurderer;
visibility:hidden;
}
