/*Esta es la hoja de estilos para el trabajo de teclados*/
body {
    background-color: black
    }
* {
    margin:0;
    padding:0;
}
#wrapper {
    width:100vw;
    margin:0 auto;
    position:relative;
    }
  a {
    text-decoration:none;
    }
nav.navbar {
    overflow: visible;
    position: absolute;
    top: 0;
    width: 100%;
    }
header img {
    position: absolute;;
    width:100%;
    height:auto;
    }
header #title {
    position:absolute;
    top:1vh;;
    left:3vw;
    font-size:2vw;
    font-family: 'Share Tech Mono', monospace;
    color:white;
    }
nav #ventanaIntro {
    position:absolute;
    top:22vh;
    left:3vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav #ventanaTipos {
    position:absolute;
    top:22vh;
    left:19vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav #ventanaFunc {
    position:absolute;
    top:22vh;
    left:35vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav #ventanaInstal {
    position:absolute;
    top:22vh;
    left:51vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav #ventanaMarcas {
    position:absolute;
    top:22vh;
    left:67vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav #ventanaDonde {
    position:absolute;
    top:22vh;
    left:83vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav #ventanaBiblio {
    position:absolute;
    top:3vh;
    left:83vw;
    background-color:rgba(211, 211, 211, 0.9);
    width:15vw;
    font-size:0.9vw;
    cursor:pointer;
    }
nav h2 {
    color:white;
    text-align:center;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
nav h3 {
    color:white;
    text-align:center;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    /*----------------------End of Header------------------------*/

    /*---------------Start of Introduccion-----------------------*/
main #Intro {
    opacity:0.7;
}
main #Intro img {
    position:absolute;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    top:50vh;
    height:auto;
    opacity:0.3;
    }
main #Intro h1 {
    position:absolute;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    top:50vh;
    background-color:rgba(128, 128, 128,0.6);
    width:60vw;
    color:white;
    text-align:center;
    font-family: 'Share Tech Mono', monospace;
    font-size:2vw;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
main #Intro p {
    position:absolute;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    top:70vh;
    width:50vw;
    height:40vh;
    color:white;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.3vw;
    }

    /*-------------------End of Introduccion---------------------*/

    /*----------------------Start of Tipos-----------------------*/

main #Tipos {
    opacity:0.7;
    }
main #Tipos img {
    position:absolute;
    right:0;
    left:0;
    margin-left: 60vw;
    top:150vh;
    height: auto;
    }
main #Tipos p {
    position:absolute;
    left:10vw;
    top:150vh;
    width:50vw;
    color:white;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    }

    /*-----------------------End of Tipos------------------------*/


    /*----------------------Start of Footer----------------------*/

footer{ 
    background-color:silver;
    color:white;
    font-size:0.8em;
    font-weight:bold;
    text-align:center;
}

    /*--------------------Start of Hovers------------------------*/

nav #ventanaIntro:hover {
    border: 4px solid white;
    }
nav #ventanaTipos:hover {
    border: 4px solid white;
    } 
nav #ventanaFunc:hover {
    border: 4px solid white;
    } 
nav #ventanaInstal:hover {
    border: 4px solid white;
    } 
nav #ventanaMarcas:hover {
    border: 4px solid white;
    } 
nav #ventanaDonde:hover {
    border: 4px solid white;
    } 
nav #ventanaBiblio:hover {
    border: 4px solid white;
    } 
main #Intro:hover {
    opacity:1.0;
}
main #Tipos:hover {
    opacity:1.0;
}
    /*-------------------End of Hovers---------------------------*/
